@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --bright-primary-color: #C3B09A;
    --dark-primary-color: #927054;

    --bright-secondary-color: #B4B4B1;
    --dark-secondary-color: #868380;

    --accent-color: #AD794F;
}

a:link{
  cursor: pointer;

  color: white;
  text-decoration: underline;
}
a:link:hover{
  cursor: pointer;

  color: black;
  text-decoration: underline dotted;
}
a:link:visited{
  cursor: pointer;

  color:black;
  text-decoration: underline;
}
a:link:active{
  cursor: pointer;

  color:grey;
  text-decoration: underline;
}

  .resume{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 0px;

    height: 100%;
    width: 100%;

    /*aspect-ratio: 1.414/1;*/
    background-color: rgb(241, 163, 163);
  }

  .resume .photo{
    grid-column: 1;
    grid-row: 1;


  }
    .resume .photo img{
      height: 100%;
      width: 100%;

      object-fit: cover;
    }

  .resume .topbar {
    grid-column: 2 / 4;

    padding: 5%;

    background-color: var(--bright-primary-color);

    align-content: center;
  }

  .resume .sidebar {
    grid-column: 1;

    padding: 10%;

    height: fit-content;

    display: flex;
    flex-direction: column;

    background-color: var(--dark-secondary-color);
    border-bottom-right-radius: 60px;

  }
    .resume .sidebar .data-block .contacts{
      display: flex;
      gap: 10px;
      flex-direction: column;
      
    }
      .resume .sidebar .data-block .contacts .contact{
        display: flex;
        gap: 10px;
        align-items: center;
        vertical-align: text-top;
        
      }

    /* .resume .sidebar .data-block .formations .formation::after {
      content: "";
      width: 2px;
      height: calc(100% - 17px);
      background-color: #ffffff;
      position: absolute;
      left: -15px;
      top: 17px;
      transform: translateX(-50%);
    }

      .resume .sidebar .data-block .formations .formation::before {
        content: "";
        width: 2px;
        height: calc(100% - 17px);
        background-color: #ffffff;
        position: absolute;
        left: -15px;
        top: 17px;
        transform: translateX(-50%);
      }

      .resume .sidebar .data-block .formations .formation::after {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: #ffffff;
        position: absolute;
        left: -15px;
        top: 7.5px;
        transform: translateX(-50%);
      } */

  .resume .content {
    grid-column: 2 / 4;

    padding: 10%;

    height: fit-content;

    display: flex;
    flex-direction: row;

    background-color: var(--bright-secondary-color);
  }

  


@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }


  /* ... the rest of the rules ... */
}

