@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --bright-primary-color: #C3B09A;
    --dark-primary-color: #927054;

    --bright-secondary-color: #B4B4B1;
    --dark-secondary-color: #868380;

    --accent-color: #AD794F;
}

  .resume{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 0px;

    height: 100%;
    width: 100%;

    /*aspect-ratio: 1.414/1;*/
    background-color: rgb(241, 163, 163);
  }

  .resume .photo{
    grid-column: 1;
    grid-row: 1;


  }
    .resume .photo img{
      height: 100%;
      width: 100%;

      object-fit: cover;
    }

  .resume .topbar {
    grid-column: 2 / 4;

    padding: 5%;

    background-color: var(--bright-primary-color);
  }

  .resume .sidebar {
    grid-column: 1;

    padding: 10%;

    height: fit-content;

    display: flexbox;
    flex-direction: column;

    background-color: var(--dark-secondary-color);
    border-bottom-right-radius: 60px;

  }

    .resume .sidebar .data-block .contact{
      display: flex;
      gap: 10px;
      align-items: center;
      vertical-align: text-top;
      
    }

  .resume .content {
    grid-column: 2 / 4;

    padding: 10%;

    height: fit-content;

    display: flexbox;
    flex-direction: row;

    background-color: var(--bright-secondary-color);
  }



@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }


  /* ... the rest of the rules ... */
}

