@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --bright-primary-color: #C3B09A;
    --dark-primary-color: #927054;

    --bright-secondary-color: #B4B4B1;
    --dark-secondary-color: #868380;

    --accent-color: #AD794F;
}

  .resume{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px;

    /*aspect-ratio: 1.414/1;*/
    background-color: rgb(241, 163, 163);
  }

  .resume .photo{
    grid-area: 1 / 1 / 2 / 2;
  }
    .resume .photo img{
      height: 100%;
      width: 100%;

      object-fit: cover;
    }

  .resume .topbar {
    grid-area: 1 / 2 / 2 / 4;

    background-color: var(--bright-primary-color);
  }

  .resume .sidebar {
    grid-area: 2 / 1 / 5 / 2;

    background-color: var(--dark-secondary-color);
  }

  .resume .content {
    grid-area: 2 / 2 / 5 / 4;

    display: flexbox;
    flex-direction: row;

    background-color: var(--bright-secondary-color);
  }



@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }


  /* ... the rest of the rules ... */
}

